<section id='home-section'>

<section class="featured">
	<div class="container"> 
		<div class="row mar-bot40">
			<div class="col-md-10 col-md-offset-1">
				<div class="align-center">
					<i class="fa fa-flask fa-5x mar-bot20"></i>
					<h1 style="font-family:'EB Garamond',serif;font-weight:300;font-size:80px">SITA</h1><h2 class="slogan">School Infrastructure Tracking Application</h2>
					<p style="text-justified">
					The Right to Education (RtE) Act 2009 mandates certain infrastructure norms for each school. Tracking the implementation of building school infrastructure as per norms, their maintenance, and feedback from various stakeholders to the Government authorities, and timely action, all on a large scale is a challenge, which American India Foundation is trying to resolve.
					</p>	
				</div>
			</div>
		</div>
	</div>
</section>
<section id="section-services" class="section pad-bot30 bg-white" style="padding-top:30px">
	<div class="container"> 
	
		<div class="row mar-bot40">
			<div class="col-lg-4" >
				<div class="align-center">
					<i class="fa fa-code fa-5x mar-bot20"></i>
					<div class="feature-focus">
						<a class="map-link" href="#"><h3 style="font-family:'EB Garamond',serif;font-weight:300;font-size:40px">Heat Map</h3></a>
					</div>
					<p> Provides a way to relatively measure broken things in one region as compared to others
					</p>
				</div>
			</div>
				
			<div class="col-lg-4" >
				<div class="align-center">
					<i class="fa fa-terminal fa-5x mar-bot20"></i>
					<div class="feature-focus">
						<a class="marker-link" href="#"><h3 style="font-family:'EB Garamond',serif;font-weight:300;font-size:40px">Marker Map</h3></a>
					</div>	
					<p>Plots each school on the map and shows its current status in terms of open and resolved issues
					</p>
				</div>
			</div>
		
			<div class="col-lg-4" >
				<div class="align-center">
					<i class="fa fa-bolt fa-5x mar-bot20"></i>
					<div class="feature-focus">
						<a class="chart-link" href="#"><h3 style="font-family:'EB Garamond',serif;font-weight:300;font-size:40px">Charts</h3></a>
					</div>	
					<p> Provides a functionality to drill down based on regional level to view the current status in terms of open and resolved issues.
					</p>
				</div>
			</div>
		
		</div>	

	</div>
	<br/>
	<br/>
	<div class="container"> 
		<div class="row mar-bot40">
			<div class="col-md-10 col-md-offset-1">
				<div class="align-center">
					<i class="fa fa-flask fa-5x mar-bot20"></i>
					
					<p><a href="/files/sita.apk"><img src="images/download.jpeg" height="60px"></a></p>	
				</div>
			</div>
		</div>
	</div>

</section>

</section>
<section class='main-section' id='map-section'>
	<div style="font-family:'EB Garamond',serif;font-weight:300;font-size:40px">Heat Map</div>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
    <form name=myform>
		<input type="checkbox" id="barrier" onchange="setValuesInMap()" checked>&nbsp;Barrier-free Access&nbsp;
		<input type="checkbox" id="toilets" onchange="setValuesInMap()" checked>&nbsp;Toilets&nbsp;
		<input type="checkbox" id="drinkingWater" onchange="setValuesInMap()" checked>&nbsp;Drinking Water&nbsp;
		<input type="checkbox" id="playground" onchange="setValuesInMap()" checked>&nbsp;Playground&nbsp;
		<input type="checkbox" id="library" onchange="setValuesInMap()" checked>&nbsp;Library
	</form>	
	<br/>
	<div id="map-canvas" style="height: 100%;margin: 0px;padding: 0px"></div>
</section>

<section class='main-section' id='marker-section'>
	<div style="font-family:'EB Garamond',serif;font-weight:300;font-size:40px">Marker Map</div>
	<div id="map-marker-canvas" style="height: 100%;margin: 0px;padding: 0px"></div>
</section>	

<section class='main-section' id='chart-section'>
	<div style="font-family:'EB Garamond',serif;font-weight:300;font-size:40px">Charts</div>
	<div id="container" style="width:100%; height:400px;">
	</div>
	<div id="subtype">
  		<input class="typeahead" type="text">
	</div>
	<div id="breadcrumbs"></div>
</section>

<section class='main-section' id='school-section'>
	<h3 id="school-name"></h3>
	<table id="school-details">
		<tr>
			<td>School code</td>
			<td><h5 id="school-code"></h5></td>
		</tr>
		<tr>
			<td>District</td>
			<td><h5 id="school-district-name"></h5></td>
		</tr>

		<tr>
			<td>Cluster name</td>
			<td><h5 id="school-cluster-name"></h5></h5></td>
		</tr>
		<tr>
			<td>Village name</td>
			<td><h5 id="school-village-name"></h5></td>
		</tr>
		<tr>
			<td>Pin code</td>
			<td><h5 id="school-pin-code"></h5></td>
		</tr>
		<tr>
			<td>School state</td>
			<td><h5 id="school-state"></h5></td>
		</tr>
		<tr>
			<td>Contact details</td>
			<td><h5 id="school-contact-details"></h5></td>
		</tr>
		<tr id="school-reports">
		</tr>
	</table>
</section>
