extends layout

block content
  script(src="/scripts/highcharts.js")
  script(src="/scripts/highcharts_drilldown.js")
  script(src="/scripts/sita_init.js")
  script(src="/scripts/sita_map.js")
  script(src="/scripts/sita_chart.js")
  script(src="/scripts/sita_index.js")
  include index.html