extends layout

block content
  script(src="/scripts/highcharts.js")
  script(src="/scripts/highcharts_drilldown.js")
  script(src="/scripts/sita_init.js")
  script(src="/scripts/sita_report.js")
  script(src="/scripts/sita_timeline.js")
  script(src="/scripts/sita_index.js")
  include index.html