doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    script(src="/scripts/jquery.js")
    script(src="/scripts/jquery-ui.js")
    script(src="/scripts/bootstrap.js")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=EB+Garamond:300,400,900')
  body
    include navbar.html
    block content