body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #666666;
  padding-top: 60px;
}

ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

#menu {
	margin: 20px;
}

#menu li {
	display: inline;
	cursor: pointer;
	text-decoration: underline;
	color: #666666;
	font-size: large;
	margin: 10px;
}

a {
  color: #00B7FF;
}

.hide {
	visibility: hidden;
}

.main-section {
	width: 960px;
	height: 480px;
	display: inline-block;
	padding: 20px;
}

#subtype {
    margin-top: 20px;
}

.typeahead {
	width: 396px;
	height: 45px;
	padding: 8px 12px;
	font-size: 24px;
	line-height: 30px;
	border: 2px solid #ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	outline: none;
}